$color_white: #ffffff;
$color_black: #000000;
$dark_gray: #181717;
$dark_red: #8b0000;
$bright_red: #dd2719;

$passion_one: "Passion One", sans-serif;

$breakpoint-medium: 50rem;
$breakpoint-big: 90rem;