@use '../../assets/scss/var';
@use '../../assets/scss/mixin';

.header {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav {
    position: relative;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0.5rem;
    align-items: center;

    &__icon {
        width: 28px;
    }

    &__links {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var.$color_black;
        padding: 10px;
        z-index: 1000;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 100%;

        &:not(.hidden) {
            display: flex;
        }

        &_item {
            padding: 0;
            @include mixin.links;
        }

        &_icons {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

}


.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__title {
        position: absolute;
        text-transform: uppercase;
        color: var.$color_white;
        font-family: 'Nextir Brush Personal Use', sans-serif;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        text-shadow: 3px 3px 5px rgb(0, 0, 0);
    }
}

@include mixin.small {
    .banner {
        &__title {
        font-size: 2.5rem;
        }
    }
}

@include mixin.medium {
    .logo {
        width: 150px;
        left: auto;
        position: relative;
        transform: none;
    }

    .nav {
        padding: 0 2rem;
        justify-content: initial;

        &__icon {
            justify-self: right;

            &-menu {
                display: none;
            }
        }

        &__links {
            position: static;
            flex-direction: row;
            justify-content: space-evenly;
            display: flex;
            width: 70%;
            margin-left: auto;
        }
    }

    .banner {
        &__title {
            font-size: 3rem;
        }
    }
}

@include mixin.big {
    .nav {
        &__links {
            &_item {
                font-size: 1.5rem;
            }
        }
    }
    .banner {
        &__title {
            font-size: 4rem;
        }
    }
}